/* VARIABLES COLORS */

$primary-green: #37bdaf;
$primary-purple: #4b3659;
$light-grey: #f4f4f4;

/* RESET HTML */

html,body {
    padding: 0;
    margin: 0;
}

/* header */

.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
    }

    li {
        a {
            display: flex;
            align-items: center;
            padding: 20px 20px;
            border-right: 1px solid white;
            text-decoration: none;
            color: $primary-purple;
            cursor: pointer;
            text-transform: uppercase;

            &:hover {
                background-color: $light-grey;
                color: $primary-green;
            }
        }
    }

    .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    .menu-btn {
        display: none;

        &:hover {
            background-color: #f4f4f4;
            color: $primary-green;
        }
    }

    .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;

        .navicon {
            background: $primary-purple;
            display: block;
            height: 2px;
            position: relative;
            transition: background .2s ease-out;
            width: 18px;

            &:before, &:after {
                background: #333;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                transition: all .2s ease-out;
                width: 100%;
            }

            &:before {
                top: 5px;
            }

            &:after {
                top: -5px;
            }
        }
    }

    .logo {
        display: flex;
        align-items: center;
        float: left;
        font-size: 2em;
        padding: 13px 20px;
        text-decoration: none;
    }
}

/* menu btn */


.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}


/* CUSTOM */

.bg-purple {
    background-color: $primary-purple;
}

.bg-green {
    background-color: $primary-green;
}

.c-green {
    color: $primary-green;
}

.c-purple {
    color: $primary-purple;
}

.centered-txt {
    text-align: center;
}

.center-block {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    .container {
        width: 80%;

        .section-title {
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 15px;
        }

    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input {
    border-radius: 5px;
    border: solid 1px $primary-green;
    height: 20px;
    margin-bottom: 16px;
}

/* ANIMATION SWITCH */

#switch-txt {
    text-transform: uppercase;
    font-size:36px;
    font-weight:bold;
    width:100%;
    bottom:45%;
    display: flex;
    justify-content: center;
    text-align: center;

    #flip {
        height:50px;
        overflow:hidden;

        .green {
            color: $primary-green;
        }
    }
}

#flip > div > div {
    color:$primary-purple;
    padding:4px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
}

#flip div:first-child {
    animation: show 5s linear infinite;
}

@keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
}


/* GENERAL STYLE */

.home-view {
    padding-top: 59px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("assets/images/bg-home-view.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 600px;
}


.team {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-top: 16px;

    .pic-julie {
        width: 45%;

        img {
            width: 60%;
        }
    }

    .des-julie {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 55%;

        .ic-title {
            display: flex;
            justify-content: space-between;
        }

        .content-julie {
            width: 100%;
        }
    }
}

.services {

    .sub-title {
        color: $primary-purple;
        text-transform: uppercase;
        font-size: 16px;
    }
    .strech-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .strech-content {
        width: 50%;
    }
}

.quote {

}

.tarif {
    .container {
        margin-top: 16px;
    }
}

.footer {
    color: white;
    padding-bottom: 16px;

    .center-block {
        width: 50%;
    }

    .form {
        margin-top: 16px;

        .btn-footer {
            align-self: flex-end;

            button {
                background-color: #37bdaf;
                color: white;
                border: solid 1px white;
                border-radius: 5px;
                height: 25px;
                width: 70px;
                text-transform: uppercase;
                font-weight: 600;
                cursor: pointer;
            }
        }
    }
}

/* MENU BURGER */

@media (min-width: 1007px) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .row {
        display: flex;
        flex-direction: column;

        .center-block {
            width: 100%;
        }
    }
}