/* VARIABLES COLORS */

$primary-green: #37bdaf;
$primary-purple: #4b3659;

/* RESET HTML */

html,body {
    padding: 0;
    margin: 0;
}

/* CUSTOM */

.bg-purple {
    background-color: $primary-purple;
}

.bg-green {
    background-color: $primary-green;
}

.c-green {
    color: $primary-green;
}

.c-purple {
    color: $primary-purple;
}

.center-block {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    .container {
        width: 80%;

        .section-title {
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 15px;
        }

    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* GENERAL STYLE */

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 50px;

    .logo {
        width: 50%;

        img {
            width: 120px;
        }
    }

    .navigation {
        display: flex;
        align-items: center;
        width: 50%;
        justify-content: space-between;

        .nav-section {
            color: $primary-purple;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 14px;
            text-decoration: none;

            &:hover {
                color: $primary-green;
            }
        }
    }
}

.home-view {
    background-image: url("assets/images/bg-home-view.png");
    background-repeat: no-repeat;
    //background-position: center center;
    width: 100%;
    height: 100vh;
}


.team {
    color: white;

    .pic-julie {
        img {

        }
    }
}

.quote {

}

.tarif {
    .container {
        margin-top: 16px;
    }
}

.footer {
    color: white;

    .center-block {
        width: 45%;
    }
}

@media screen and (max-width: 750px) {
    .row {
        display: flex;
        flex-direction: column;

        .center-block {
            width: 100%;
        }
    }
}