/* VARIABLES COLORS */

$primary-green: #37bdaf;
$primary-purple: #4b3659;
$light-grey: #f4f4f4;

/* RESET HTML */

html,body {
    padding: 0;
    margin: 0;
}

/* RESPONSIVE MENU */

.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 5;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
    }

    li {
        a {
            display: flex;
            align-items: center;
            padding: 20px 20px;
            border-right: 1px solid white;
            text-decoration: none;
            color: $primary-purple;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bolder;
            font-size: 14px;

            &:hover {
                background-color: $light-grey;
                color: $primary-green;
            }
        }
    }

    .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    .menu-btn {
        display: none;

        &:hover {
            background-color: #f4f4f4;
            color: $primary-green;
        }
    }

    .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;

        .navicon {
            background: $primary-purple;
            display: block;
            height: 2px;
            position: relative;
            transition: background .2s ease-out;
            width: 18px;

            &:before, &:after {
                background: #333;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                transition: all .2s ease-out;
                width: 100%;
            }

            &:before {
                top: 5px;
            }

            &:after {
                top: -5px;
            }
        }
    }

    .logo {
        display: flex;
        align-items: center;
        float: left;
        font-size: 2em;
        padding: 13px 20px;
        text-decoration: none;
    }
}

/* menu btn */


.header .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}


/* CUSTOM */

.bg-purple {
    background-color: $primary-purple;
}

.bg-green {
    background-color: $primary-green;
}

.c-green {
    color: $primary-green;
}

.c-purple {
    color: $primary-purple;
}

.centered-txt {
    text-align: center;
}

.center-block {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    .container {
        width: 80%;

        .section-title {
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 15px;
        }

    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input {
    border-radius: 5px;
    border: solid 1px $primary-green;
    height: 20px;
    margin-bottom: 16px;
}

/* ANIMATION SWITCH */

#switch-txt {
    text-transform: uppercase;
    font-size:36px;
    font-weight:bold;
    width:100%;
    bottom:45%;
    display: flex;
    justify-content: center;
    text-align: center;

    #flip {
        height:50px;
        overflow:hidden;

        .green {
            color: $primary-green;
        }
    }
}

#flip > div > div {
    color:$primary-purple;
    padding:4px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
}

#flip div:first-child {
    animation: show 9s linear infinite;
}

@keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
}


/* GENERAL STYLE */

.home-view {
    padding-top: 59px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("assets/images/bg-home-view.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 600px;
}

.problem {

    .center-block {
        p {
            max-width: 350px;
        }
    }

    .conclusion {
        display: flex;
        justify-content: center;
        padding: 15px 0;

        div {
            border-top: solid 1px $primary-green;
            border-bottom: solid 1px $primary-green;

            .accroch {
                text-transform: uppercase;
                color: $primary-green;
                font-weight: bold;
            }
        }
    }
}

.id-section {
    height: 59px;
    margin-top: -59px;

}

.team {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;

    .pic-julie {
        width: 250px;
    }

    .des-julie {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 55%;
        padding: 16px;

        .ic-title {
            display: flex;
            justify-content: space-between;

            .ic {
                width: 100px;
            }
        }

        .content-julie {
            width: 100%;
        }
    }
}

.services {

    .ergo-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-box {
            width: 50%;
            background-color: black;

            .picture {
                width: 100%;
            }
        }

        .right-box {
            width: 50%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0 50px;

            img {
                width: 50%;
            }

            .content {
                max-width: 500px;
            }
        }
    }

    .sub-title {
        color: $primary-purple;
        text-transform: uppercase;
        font-size: 16px;
    }

    .massage-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .massage-content {
            color: white;
            width: 50%;
        }

        .ic-massage {
            width: 50%;

            img {
                width: 170px;
            }
        }
    }

    .strech-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .strech-content {
            width: 50%;
        }

        .ic-content {
            padding: 15px;

            img {
                width: 400px;
            }
        }
    }
}

.quote {

    .title {
        margin-top: 16px;
        color: $primary-green;
        font-weight: bolder;
        text-align: center;
        text-transform: uppercase;
    }

    .center-block {
        display: flex;
        flex-direction: row;

        .box {
            border-radius: 5px;
            border: solid 1px $primary-purple;
            padding: 15px;
            z-index: 1;
        }

        .ic-quote {

            img {
                margin-right: -30px;
                background-color: white;
                z-index: 2;
                position: relative;
                padding: 7px 0;
            }
        }

        .michel {
            padding-right: 40px;
            padding-left: 40px;
            z-index: 0;
        }

        .ic-michel {
            margin-left: -35px;
            z-index: 2;
        }

        .wendy {
            padding-right: 45px;
            z-index: 0;
            padding-left: 45px;
        }

        .ic-wendy {
            margin-left: -40px;
            z-index: 3;
        }

        .bertrand {
            padding-right: 52px;
            padding-left: 52px;
        }

        .ic-bertrand {
            margin-left: -52px;
            z-index: 3;
        }
    }
}

.tarif {
    .container {
        margin-top: 16px;
    }
}

.footer {
    color: white;
    padding-bottom: 16px;

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .left-box {
            width: 50%;

            .address-box {
                display: flex;
                flex-direction: column;

                .title {
                    margin-bottom: 10px;
                    font-weight: bold;
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    line-height: 1.5em;

                    a {
                        color: $primary-green;
                    }

                }
            }
        }

        .right-box {
            margin-top: 16px;
            width: 50%;
            padding: 0 16px;

            .input-line {
                width: 100%;
                display: flex;
                justify-content: space-between;

                input {
                    width: 48%
                }
            }

            .btn-footer {
                display: flex;
                justify-content: flex-end;

                button {
                    background-color: #37bdaf;
                    color: white;
                    border: solid 1px white;
                    border-radius: 5px;
                    height: 25px;
                    width: 70px;
                    text-transform: uppercase;
                    font-weight: 600;
                    cursor: pointer;
                    margin-top: 10px;
                }
            }

            textarea {
                max-width: 99%;
                min-width: 99%;
                min-height: 150px;
                border-radius: 5px;
                border: solid 1px $primary-green
            }
        }
    }
}

/* MENU BURGER */

@media (min-width: 1010px) {
    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    .row {
        display: flex;
        flex-direction: column;

        .center-block {
            width: 100%;
        }
    }

    .home-view {
        height: 400px;

        #switch-txt {
            font-size: 25px;
        }
    }

    .team {
        flex-direction: column;

        .des-julie {
            width: 100% !important;

            .ic {
                width: 60px;
                padding: 0 10px;
            }
        }

        .pic-julie {
            width: 250px !important;
        }
    }

    .massage-box {
        flex-direction: column;

        .massage-content {
            width: 100% !important;
        }

        .ic-massage {
            width: 50%;
            padding: 16px 0;

            img {
                width: 150px;
            }
        }
    }

    .ergo-box {
        display: flex;
        flex-direction: column;

        .left-box {
            width: 100% !important;
            background-color: black;

            .picture {
                width: 100%;
            }
        }

        .right-box {
            //align-items: center !important;
            width: 100% !important;


            .content {
                max-width: 500px;
            }
        }
    }

    .strech-box {
        flex-direction: column;

        .strech-content {
            width: 100% !important;
        }

        .ic-content {

            img {
                width: 300px !important;
            }
        }
    }

    .footer {
        .content {
            flex-direction: column !important;

            .left-box {
                width: 100%;
            }

            .right-box {
                width: 100%;
                padding: 0;
            }
        }
    }
}