/* VARIABLES COLORS */

$primary-green: #37bdaf;
$primary-light-green: rgb(227, 239, 238);
$primary-purple: #4b3659;
$primary-light-purple: #c9c2cc;
$light-grey: #f4f4f4;

/* RESET HTML */

html,body {
    padding: 0;
    margin: 0;
    font-family: catamaranmedium;
    line-height: 1.3em;
    height: 100%;
    min-height: 100%;
}

@font-face {
    font-family: 'catamaranthin';
    src: url('/assets/fonts/catamaran-thin-webfont.woff2') format('woff2'),
    url('assets/fonts/catamaran-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'catamaranmedium';
    src: url('assets/fonts/catamaran-medium-webfont.woff2') format('woff2'),
    url('assets/fonts/catamaran-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'catamaranbold';
    src: url('assets/fonts/catamaran-bold-webfont.woff2') format('woff2'),
    url('assets/fonts/catamaran-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fontawesome6';
    src: url('assets/fonts/fa-regular-400.woff2') format('woff2'),
    url('assets/fonts/fa-regular-400.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fontawesome6solid';
    src: url('assets/fonts/fa-solid-900.woff2') format('woff2'),
    url('assets/fonts/fa-solid-900.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* RESPONSIVE MENU */

.header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 5;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background-color: #fff;
    }

    li {
        a {
            display: flex;
            align-items: center;
            padding: 20px 20px;
            border-right: 1px solid white;
            text-decoration: none;
            color: $primary-purple;
            cursor: pointer;
            text-transform: uppercase;
            font-weight: bolder;
            font-size: 14px;

            &:hover {
                background-color: $light-grey;
                color: $primary-green;
            }
        }
    }

    .selected {
        color: $primary-green !important;
    }

    .menu {
        clear: both;
        max-height: 0;
        transition: max-height .2s ease-out;
    }

    .menu-btn {
        display: none;

        &:hover {
            background-color: #f4f4f4;
            color: $primary-green;
        }
    }

    .menu-icon {
        cursor: pointer;
        display: inline-block;
        float: right;
        padding: 28px 20px;
        position: relative;
        user-select: none;

        .navicon {
            background: $primary-purple;
            display: block;
            height: 2px;
            position: relative;
            transition: background .2s ease-out;
            width: 18px;

            &:before, &:after {
                background: #333;
                content: '';
                display: block;
                height: 100%;
                position: absolute;
                transition: all .2s ease-out;
                width: 100%;
            }

            &:before {
                top: 5px;
            }

            &:after {
                top: -5px;
            }
        }
    }

    .logo {
        display: flex;
        align-items: center;
        float: left;
        font-size: 2em;
        padding: 13px 20px;
        text-decoration: none;
    }
}

/* menu btn */


.header .menu-btn:checked ~ .menu {
    max-height: 420px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

/* CUSTOM */

.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}

.fa-solid {
    font-family: 'fontawesome6solid';
    margin-bottom: -3px;
}

.fa {
    font-family: 'fontawesome6';
    margin-bottom: -3px;
}

.fa-sm {
    font-size: 1rem;
}

b {
    font-family: 'catamaranmedium';
}

a {
    color: $primary-green;
}

.mt-4 {
    margin-top: 4rem;
}

.m-r-10 {
    margin-right: 10px;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.gap-1 {
    gap: 0.5rem;
}

.bg-purple {
    background-color: $primary-purple;
}

.bg-green {
    background-color: $primary-green;
}

.c-green {
    color: $primary-green;
}

.c-purple {
    color: $primary-purple;
}

.col {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.centered-txt {
    text-align: center;
}

.center-block {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    .container {
        width: 60%;

        .section-title {
            color: white;
            text-transform: uppercase;
            font-size:20px;
            font-family: catamaranbold;
        }

    }
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

input {
    border-radius: 5px;
    border: solid 1px $primary-green;
    height: 20px;
    margin-bottom: 16px;
}

.home-btn {
    background-color: $primary-green;
    border: solid 1px $primary-green;
    color: white;
    text-decoration: none;
    padding: 5px 16px;
    margin: 10px 10px;
    text-align: center;
    cursor: pointer;

    &:hover {
        background-color: white;
        border: solid 1px $primary-purple;
        color: $primary-purple;
    }
}

.not-allow {
    cursor: not-allowed !important;
}

/* ANIMATION SWITCH */

#switch-txt {
    text-transform: uppercase;
    font-size:36px;
    font-weight:bold;
    width:100%;
    bottom:45%;
    display: flex;
    justify-content: center;
    text-align: center;

    #flip {
        height:50px;
        overflow:hidden;
        font-family: sans-serif;
        line-height: 1em;

        .green {
            color: $primary-green;
        }
    }
}

#flip > div > div {
    color:$primary-purple;
    padding:4px 12px;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
}

#flip div:first-child {
    animation: show 9s linear infinite;
}

@keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
}


/* GENERAL STYLE */

.home-view {
    padding-top: 59px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-image: url("assets/images/bg-home-view.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100vh;

    .content {
        padding: 20px 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .home-link {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 20px;
        justify-content: center;
    }
}

.formation-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    gap: 3rem;

    .inside-row {
        display: flex;
        gap: 2rem;

        @media screen and (max-width: 400px) {
            flex-direction: column;
            gap: 0;
        }
    }

    .big-size {
        font-size: 2.5rem;
        color: $primary-purple;
        text-align: center;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .ic-lg {
        font-size: 2rem;
        margin-bottom: 1rem;
        color: $primary-purple;
    }

    .subscribe {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;

        .info-date {
            margin-bottom: 1rem;
        }

       .cta-form {
            background-color: $primary-purple;
            border-radius: 10px;
            padding: 1rem 3rem;
            color: white;
            text-decoration: none !important;

            &:hover {
                background-color: $primary-green !important;
            }
        }

        .purple {
            a {
                color: $primary-purple;
            }
        }
    }

    .section-line {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 0;
        width: 100%;
    }

    .line-light-green {
        background-color: $primary-light-green;
    }

    .line-green {
        background-color: $primary-light-purple;

        .title-cat-section {
            color: white !important;
        }
    }

    .box-section {
        width: 60%;

        @media screen and (max-width: 1000px) {
            width: 75%;
        }

        @media screen and (max-width: 800px) {
            width: 80%;
        }

        .title-cat-section {
            font-weight: bold;
            color: $primary-green;
            font-size: 3rem;
            line-height: 3rem;
            margin-bottom: 2rem;
        }

        .formation-content {
            border-radius: 50px;
            gap: 2rem;
            display: flex;
            flex-direction: column;

            .formation-content-row {
                display: flex;
                border-radius: 50px;
                gap: 3rem;
                align-items: center;
                justify-content: center;
                //margin-bottom: 3rem;
                padding: 2rem;

                @media screen and (max-width: 600px) {
                    flex-direction: column;
                    padding: 0;
                    gap: 2rem;
                }
            }

            h2 {
                font-size: 1.2rem;
                color: $primary-purple;
            }

            .intro {
                font-family: 'catamaranthin';
                font-size: 1.2rem;
                line-height: 1.6rem;
                max-width: 500px;

            }
            .mobile-img {
                margin-bottom: 0;

                @media screen and (max-width: 600px) {
                    margin-bottom: 2rem !important;
                }
            }

            .amma-pic {
                width: auto;
                height: 350px;
                margin: 3rem 0;
                border-bottom-left-radius: 50px;
                border-top-right-radius: 50px;

                @media screen and (max-width: 600px) {
                    margin: 0;
                }

                @media screen and (max-width: 400px) {
                    width: 100% !important;
                    height: auto !important;
                }
            }

            .line-bullet {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 5px;
                margin-top: 1rem;
            }

            .block-row {
                display: flex;
                flex-direction: row;
                gap: 3rem;
                width: 100%;
                flex-wrap: wrap;
                justify-content: center;

                .green-block {
                    background-color: $primary-light-green !important;

                }

                .block {
                    display: flex;
                    flex-direction: column;
                    width: 500px;
                    min-width: 300px;
                    background-color: white;
                    padding: 2rem;
                    border-radius: 10px;
                    border-bottom-left-radius: 50px;
                    border-top-right-radius: 50px;

                    @media screen and (max-width: 600px) {
                        width: 80%;
                        min-width: 80%;
                    }

                    &:hover {
                        box-shadow: 8px 8px 36px -19px rgba(0,0,0,0.67);
                        -webkit-box-shadow: 8px 8px 36px -19px rgba(0,0,0,0.67);
                        -moz-box-shadow: 8px 8px 36px -19px rgba(0,0,0,0.67);
                    }

                    .mid-title {
                        font-size: 1.6rem;
                        text-align: center;
                        font-family: 'catamaranbold';
                        color: $primary-green;
                        line-height: 2rem;
                    }

                    .custom-list {
                        list-style: none;
                        padding-left: 2rem;

                        li::before {
                            content: "\2022";
                            color: $primary-purple;
                            font-weight: bold;
                            display: inline-block;
                            width: 1.5rem;
                            margin-left: -1em;
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}

.e-shop {
    padding: 4rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    h1 {
        color: $primary-purple;
        font-size: 2.5rem;
        text-align: center;
        margin: 0;
    }

    h2 {
        margin-top: 3rem;
        line-height: 2rem;
        font-size: 1.2rem;
        text-align: center;
    }

    .shop-row {
        display: flex;
        gap: 3rem;

        @media screen and (max-width: 800px) {
            flex-direction: column;
            padding: 1rem;
        }
    }

    .shop-box {
        background-color: $primary-green;
        width: 200px;
        height: 80px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        text-decoration: none;
        cursor: pointer;
    }

}

.problem {

    .center-block {
        p {
            max-width: 350px;
            text-align: center;
        }
    }

    .conclusion {
        display: flex;
        justify-content: center;
        padding: 15px 0;

        div {
            border-top: solid 1px $primary-green;
            border-bottom: solid 1px $primary-green;

            .accroch {
                text-transform: uppercase;
                color: $primary-green;
                font-weight: bold;
            }
        }
    }
}

.actif-section {
    color: $primary-green !important;
}

.id-section {
    height: 59px;
}

.team {
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;

    .pic-julie {
        width: 250px;
    }

    .des-julie {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 55%;
        padding: 16px;

        .ic-title {
            display: flex;
            justify-content: space-between;

            .ic {
                text-align: center;
                display: flex;
                justify-content: center;
                flex-direction: column;

                img {
                    width: 150px;
                }
            }
        }

        .content-julie {
            width: 100%;
        }
    }
}

.number-wrapper {
    border-top: solid 1px $primary-green;
    padding-top: 16px;
    padding-bottom: 16px;

    .container {
        padding: 30px 0;

        .number {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .number-box {
                display: block;
                text-align: center;
                width: 33%;


                .ic {
                    width: 100px;
                }
            }

            .padding {
                padding: 0 16px;
            }
        }

        .legend {
            font-size: 12px;
            margin-top: 40px;
            line-height: 1em;
        }
    }
}

.services {

    .ergo-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-box {
            //width: 50%;
            background-color: black;

            .picture {
                width: 100%;
            }
        }

        .right-box {
            width: 50%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 16px 50px;

            img {
                max-width: 350px;
            }

            .content {
                max-width: 500px;
            }
        }
    }

    .gym-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-box {
            width: 50%;

            .picture {
                width: 100%;
            }

            .content {
                max-width: 500px;
            }
        }

        .right-box {
            width: 50%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 16px 50px;

            img {
                max-width: 450px;
            }
        }
    }

    .sub-title {
        color: $primary-purple;
        text-transform: uppercase;
        font-size: 16px;
    }

    .sub-box-title {
        display: flex;
        justify-content: center;

        .sub-title {
            color: white;
            text-transform: uppercase;
            font-size: 16px;
            background-color: $primary-purple;
            padding: 5px 10px;
        }
    }

    .massage-assis {
        padding: 30px 0;

        .massage-box {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .massage-content {
                color: white;
                width: 50%;

                .txt {
                    max-width: 500px;

                    .content-title {
                        font-size: 14px;
                        text-transform: uppercase;
                        color: $primary-purple;
                        font-weight: bolder;
                    }

                    .txt-box {
                        margin-top: 5px;
                        margin-bottom: 20px;
                    }
                }
            }

            .ic-massage {
                padding-left: 50px;

                img {
                    width: 230px;
                }
            }
        }
    }

    .strech-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .strech-content {
            width: 50%;
        }

        .ic-content {
            padding: 15px;
            text-align: center;

            img {
                width: 80%;
            }
        }
    }
}

.pilate-box {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .pilate-content {
        width: 50%;
    }

    .ic-content {
        padding: 15px;
        text-align: center;

        img {
            width: 400px;
        }
    }
}

.purple-link {
    color: $primary-purple !important;
    font-weight: bold;
}

$animationSpeed: 20s;

@keyframes scroll {
    0% { transform: translateX(0); }
    //100% { transform: translateX(calc(-250px * 16))}
    100% { transform: translateX(-100%)}
}

.slider {
    height: 100px;
    margin: auto;
    overflow:hidden;
    position: relative;
    width: 100%;
    padding-top: 59px;

    .slide-track {
        animation: scroll $animationSpeed linear infinite;
        display: flex;
        width: 100%;
    }
    .slide {
        height: 100px;
        width: 250px;
    }
}

.quote {

    .title {
        margin-top: 16px;
        color: $primary-green;
        font-weight: bolder;
        text-align: center;
        text-transform: uppercase;
    }

    .center-block {
        display: flex;
        flex-direction: row;
        width: 45%;
    }

    .box {
        border-radius: 5px;
        border: solid 1px $primary-purple;
        padding: 15px;
        z-index: 1;
    }

    .ic-quote {

        img {
            margin-right: -30px;
            background-color: white;
            z-index: 2;
            position: relative;
            padding: 7px 0;
        }
    }

    .michel {
        padding-right: 40px;
        padding-left: 40px;
        z-index: 0;
    }

    .ic-michel {
        margin-left: -35px;
        z-index: 2;
    }

    .wendy {
        padding-right: 45px;
        z-index: 0;
        padding-left: 45px;
    }

    .ic-wendy {
        margin-left: -40px;
        z-index: 3;
    }

    .bertrand {
        padding-right: 52px;
        padding-left: 52px;
    }

    .ic-bertrand {
        margin-left: -52px;
        z-index: 3;
    }

    .mid-center-box {
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: row;
    }
}

.tarif {
    .container {
        margin-top: 16px;
    }
}

#contact {
    height: calc(100% - 119px);
    color: white;

    .container {
        height: 100%;
    }
}

.rdv {
    padding: 20px 0;
    padding-top: 60px;
    min-height: 100%;
    background-color: $primary-green;

    .container {
        background-color: white;
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;

        .content {
            width: 60%;
        }
    }

    .rdv-button {
        margin-top: 20px;
        background-color: $primary-green;
        border: solid 1px $primary-green;
        color: white;
        text-decoration: none;
        padding: 10px 16px;
        width: fit-content;
        text-align: center;
        cursor: pointer;

        a {
            color: white;
            text-decoration: none;
        }

        &:hover {
            background-color: white;
            border: solid 1px $primary-purple;
            color: $primary-purple;

            a {
                color: $primary-purple;
            }
        }
    }

    .title-section {
        font-size: 18px;
        margin-top: 20px;
    }

    .center-section {
        margin: 20px;

        .ic-julie, .ic-meg {
            margin-right: 10px;

            img {
                width: 50px;
            }
        }
    }

    .center-name {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        color: $primary-purple;
        border-bottom: solid 2px $primary-green;
        padding-bottom: 5px;
        width: fit-content;
        margin-bottom: 10px;
    }

    .row {
        flex-wrap: wrap;
    }

    .col {
        li {
            color: $primary-green;
        }
    }

    .link-pdf {
        padding: 0 10px;
        text-align: center;
    }
}

.kine {
    padding-top: 60px;
    padding-bottom: 30px;

    .ancrage {
        height: 45px;
    }

    .content-mobile {
        display: none;
    }

    .banner-header {
        background-color: #37bdaf;
        background-image: url("assets/images/img-center-1.jpg");
        background-size: cover;
        background-position: center;
        padding: 2rem;
        height: 400px;
        color: white;

        h1 {
            color: white;
            font-size: 4rem;
            margin: 0;
            line-height: 4rem;
        }

        .content {
            max-width: 500px;
            margin-top: 2rem;
        }

    }

    .therapeutes {
        margin-top: 2rem;

        .section-title {
            color: $primary-purple;
            font-size: 2rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;

            .title {
                text-align: center;
                line-height: 2rem;
            }
        }

        .link-to {
            display: flex;
            justify-content: center;
            gap: 2rem;
            flex-wrap: wrap;

            .quick-link {
                background-color: $primary-green;
                color: white;
                text-decoration: none;
                border-radius: 50%;
                cursor: pointer;
                width: 120px;
                height: 120px;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;

                &:hover {
                    background-color: $primary-purple;
                }
            }
        }
    }

    .tab-row {
        display: flex;
        justify-content: flex-start;
        margin-top: 20px;
        width: 100%;
    }

    .tab-selected {
        background-color: $primary-green;
        border: solid 1px white;
        color: white;
        width: 200px;
        padding: 5px;
        text-decoration: none;
        text-align: center;
    }

    .tab {
        border: solid 1px white;
        background-color: $primary-purple;
        color: white;
        width: 200px;
        padding: 5px;
        text-decoration: none;
        text-align: center;
        cursor: pointer;

    }

    #tab1 {
        border: solid 1px white;
        background-color: $primary-green;
        padding: 10px;
        color: white;
    }

    .people-team {
        display: flex;
        flex-direction: column;
        width: 30%;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        margin-bottom: 4rem;
        min-width: 320px;

        .photo {
            width: 300px;

            img {
                width: 300px;
            }
        }

        .name {
            font-size: 25px;
            font-weight: bold;
            margin-top: 10px;
            color: $primary-purple;
            line-height: 1.2em;
            text-align: center;
        }

        .role {
            color: #333333;
            font-family: 'catamaranthin';
            margin-top: 7px;
            margin-bottom: 10px;
        }

        .rdv-btn {
            background-color: $primary-purple;
            color: white;
            cursor: pointer !important;
            margin-top: 10px;
            border-radius: 5px;
            padding: 5px 5px 8px 5px;
            width: 200px;
            text-align: center;

            &:hover {
                background-color: $primary-green;
                border-coler: $primary-green;
                font-size: 17px;
            }

            a {
                color: white !important;
                text-decoration: none;
                cursor: pointer !important;
            }
        }

        .tab1 {

        }
    }

    .intro {
        padding: 15px;

        .row {
            align-items: center;
        }

    }

    .sub-title {
        color: $primary-purple;
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .row {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center !important;

        .order-list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 2rem;

            .info-job {
                text-align: center;
                padding: 2rem;
            }

            .title-order-section {
                text-align: center;

                .fa {
                    font-size: 2rem;
                    margin-bottom: 1rem;
                }

                .bold-txt {
                    font-size: 1.5rem;
                }
            }
        }

        .group {
            max-width: 1800px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .left-box {
            width: 60%;
            margin-right: 20px;
        }

        .right-box {
            width: 40%;
            display: flex;
            flex-direction: column;
            background-color: $primary-purple;
            padding: 13px;

            .DTM-title {
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 10px;
                text-align: center;
            }
        }
    }

    .origines {
        margin-top: 20px;
    }

    .consultation {
        margin-top: 20px;

        .title {
            background-color: $primary-purple;
            color: white;
            font-weight: bold;
            font-size: 18px;
            padding: 3px 5px;
            padding-bottom: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .box-consult {
            border: solid 1px $primary-purple;
            width: fit-content;
        }

        .content {
            padding: 5px;
        }
    }

    .illu {
        margin-right: 20px;
        display: flex;
        flex-direction: column;
    }

    .row-center {
        justify-content: center !important;
    }
}

.banner-people {
    background-color: $primary-green;
    background-image: url("assets/images/img-center-2.jpg");
    background-size: cover;
    background-position: right;
    height: 300px;
    padding-top: 60px;
    display: flex;
    justify-content: start;
    align-items: center;

    h1 {
        color: white;
        font-size: 2rem;
        margin: 0;
        line-height: 4rem;
        padding-left: 2rem;
    }
}

#people-team-custom-page {
    padding: 1rem 0 3rem 0;

    .container {
        width: 80% !important;
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            padding: 0.2rem 0;
            font-family: 'catamaranthin';
            font-weight: 600;

            &:before {
                color: $primary-green;
                content: "";
                font-family: 'fontawesome6';
                width: 0.3rem;
                font-size: 12px;
            }
        }
    }

    .section-title {
        color: $primary-purple;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        font-size: 2rem;
        margin-bottom: 10px;
        text-align: center;
        line-height: 2rem;
    }

    .center-contact {
        border: solid 1px $primary-purple;
        border-radius: 4px;
        padding: 1rem;

        .center-title {
            text-transform: uppercase;
            color: $primary-green;
            margin-bottom: 0.5rem;
        }

        .row-agenda {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            align-items: center;

            .progenda {
                background-color: $primary-purple;
                border: solid 1px $primary-purple;
                color: white;
                border-radius: 4px;
                padding: 5px 10px;
                cursor: pointer;

                a {
                    text-decoration: none;
                    color: white;
                }
            }

            .num {
                margin-top: 0;
            }
        }
    }

    .flex-wrap-row {
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-wrap: wrap;
        margin-top: 4rem;

        .picture {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .info-content {
            margin-bottom: 2rem;
        }
    }

    .line-tag {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        flex-wrap: wrap;

        .tag {
            background-color: $primary-green;
            color: white;
            padding: 4px 10px 7px 10px;
            border-radius: 5px;
            font-size: 15px;
            display: flex;
            gap: 0.5rem;
            align-items: center;
        }
    }

    .sub-section {
        font-family: 'catamaranthin';
        font-weight: 600;

        .center-time {
            margin-bottom: 1rem;
            &:last-child {
                margin-bottom: 0;
            }

            .title {
                margin-bottom: 0.3rem;
                font-weight: 800;
                font-family: 'catamaranmedium';
                color: $primary-green;
            }
        }
    }

    .role {
        font-weight: 800;
        font-size: 1rem;
        display: flex;
        justify-content: center;
        font-family: 'catamaranthin';
    }

    .sub-title {
        font-weight: 800;
        margin-top: 3rem;
        margin-bottom: 0.5rem;
        font-family: 'catamaranmedium';
        font-size: 1.5rem;

        &:first-child {
            margin-top: 0;
        }
    }

    .flex-col {
        flex-direction: column !important;
    }

    .num {
        display: flex;
        flex-wrap: wrap;
        gap: 0.7rem;
        margin-top: 10px;
        color: $primary-green;

        a {
            color: $primary-purple;
        }

        .others {
            display: flex;
            flex-direction: column;
            margin-top: 1rem;

            .row-content {
                display: flex;
                flex-direction: row;
                gap: 0.5rem;

                .center-name {
                    text-transform: uppercase;
                    font-family: 'catamaranmedium';
                }
            }

            .address {
                color: black;
                margin-top: 0.5rem;
            }

            small {
                color: #333333;
            }
        }
    }
}

.footer {
    color: white;
    padding-bottom: 16px;

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .left-box {
            width: 50%;

            .address-box {
                display: flex;
                flex-direction: column;

                .title {
                    margin-bottom: 10px;
                    font-weight: bold;
                }

                .content {
                    display: flex;
                    flex-direction: column;
                    line-height: 1.5em;

                    a {
                        color: $primary-green;
                    }

                }
            }
        }

        .right-box {
            margin-top: 16px;
            width: 50%;
            padding: 0 16px;

            .input-line {
                width: 101%;
                display: flex;
                justify-content: space-between;

                input {
                    width: 48%;
                    padding-left: 5px;
                }
            }

            .btn-footer {
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                align-items: flex-end;

                .submit {
                    background-color: $primary-green;
                    color: white;
                    border: solid 1px white;
                    border-radius: 5px;
                    height: 25px;
                    width: 70px;
                    text-transform: uppercase;
                    font-weight: 600;
                    cursor: pointer;
                    margin-top: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    color: white;

                    button {
                        background-color: transparent;
                        border: none;
                        color: white;
                    }
                }
            }

            textarea {
                width: calc(100% - 9px);
                min-height: 150px;
                border-radius: 5px;
                padding: 5px;
                border: solid 1px $primary-green
            }
        }
    }
}

.value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    color: white;
    padding: 10px 0;

    .ic {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img {
            width: 150px;
        }

        .txt {
            margin-top: 10px;
        }
    }
}

/* MENU BURGER */

@media (min-width: 1087px) {

    .header li {
        float: left;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }

}

@media (max-width: 1000px) {

    .wrapper .container {
        width: 80% !important;
    }
}


@media screen and (max-width: 750px) {
    .row {
        display: flex;
        flex-direction: column;

        .center-block {
            width: 100%;
        }
    }

    .quote .center-block {
        width: 100%;
    }

    .home-view {
        height: 450px;

        #switch-txt {
            font-size: 25px;
        }
    }

    .team {
        flex-direction: column;

        .des-julie {
            width: 100% !important;

            .ic {
                text-align: center;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
                width: 33%;
            }

            img {
                width: 70% !important;
            }
        }

        .pic-julie {
            width: 250px !important;
        }
    }

    .massage-box {
        flex-direction: column;

        .massage-content {
            width: 100% !important;
        }

        .ic-massage {
            padding: 16px 0 !important;

            img {
                width: 150px;
            }
        }
    }

    .ergo-box {
        display: flex;
        flex-direction: column;

        .left-box {
            width: 100% !important;
            background-color: black;

            .picture {
                width: 100%;
            }
        }

        .right-box {
            //align-items: center !important;
            width: 100% !important;


            .content {
                max-width: 500px;
            }
        }
    }

    .strech-box {
        flex-direction: column;

        .strech-content {
            width: 100% !important;
        }

        .ic-content {
            padding: 15px 0 !important;

            img {
                padding: 0;
                width: 100% !important;
            }
        }
    }

    .pilate-box {
        flex-direction: column;

        .pilate-content {
            width: 100% !important;
        }

        .ic-content {
            padding: 15px 0 !important;

            img {
                padding: 0;
                width: 100% !important;
            }
        }
    }

    .services {
        .gym-box {
            flex-direction: column !important;

            .left-box {
                width: 100%;
            }

            .right-box {
                width: 100%;
            }
        }
    }

    .footer {
        .content {
            flex-direction: column !important;

            .left-box {
                width: 100%;
            }

            .right-box {
                width: 100%;
                padding: 0;
            }
        }
    }

    .rdv {
        .row {
            align-items: center;

        }
    }

    .kine {
        .row {
            align-items: center;
        }
    }

    .julie-meg {
        display: flex;
        flex-direction: row !important;
    }

    .value {
        font-size: 14px !important;
        .ic {
            img {
                width: 80px;
            }
        }
    }
}

@media screen and (max-width: 600px) {

    .number-wrapper .container .number {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .number-box {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                max-width: 200px;
            }
        }

        .padding {
            padding: 0;
        }
    }
}

@media screen and (max-width: 450px) {

    #people-team-custom-page {
        padding: 1rem 0 !important;
    }

    .center-contact {
        width: 100% !important;
    }

    .banner-people {
        height: 150px !important;

        h1 {
            text-align: center;
            width: 100%;
            height: 150px;
            padding-left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .services .ergo-box .right-box img {
        width: 100%;
    }

    .team {
        .des-julie {
            width: 100% !important;

            .ic-title {

                flex-direction: column;
                justify-content: center;
                align-items: center;

                .ic {

                    width: 100%;
                }

                img {
                    width: 40% !important;
                }
            }
        }
    }

    .kine {
        .people-team {
            width: 80%;
        }

        .banner-header {
            height: auto !important;

            h1 {
                font-size: 3rem !important;
                line-height: 3.5rem;
            }

            .content {
                display: none;
            }
        }

        .content-mobile {
            display: block;
        }
    }
}
